<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta charset="UTF-8" />
    <title>login</title>
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/JavaScript" src="/jquery-1.11.3.min.js"></script>
    <script src="/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

        <div class="content">
            <div class="page-header clearfix">
                <img src="/images/example.png" class="pull-left" alt="example" height="74">
                <img src="/images/surfnet.jpg" class="pull-right" alt="SURFnet">
            </div>

{% include "localeform.html" %}
    <h2>{{ 'login.title' | trans }}</h2>

{% if id %}
    <!-- logging in with  id {{ id }}-->
{% endif %}

    <br/>

            <div id="form_authn">
                <form method="POST" class="form-inline">
                    <div class="input-group">
                        <input type="hidden" value="{{ id }}" name="userID"/>
                        {{ 'login.text' | trans }}:
                        <button type="submit"  class="btn btn-primary">{{ 'login.button.text' | trans }}</button>
                        <div id="result"></div>
                    </div>
                </form>
            </div>


        </div><!-- /content -->

    <footer>
            <div class="row-fluid">
                <div class="span8 offset2">
                    <hr>
                    <ul class="nav nav-pills">
                        <li><a href="#" onclick="window.history.back();return false;">{{ 'login.cancel' | trans }}</a></li><!-- TODO Send Response with status Failed -->
                    </ul>
                </div>
            </div>
        </footer>

</div><!-- /container -->    

</body>
</html>
